@import './utility'

// Main
.main
  background-color: $purple
  nav
    display: flex
    justify-content: center
    position: fixed
    flex-direction: row
    width: 100%
    z-index: 2
    a
      position: relative
      text-align: center
      flex-basis: 0
      flex-grow: 1
      font-family: $font__title--sub
      font-size: 1.2rem
      margin: 0px .1rem
      padding: $pad__main
      color: $color__secondary
      max-width: 10%
      margin: 0
      justify-content: center
      display: flex
      #text
        min-width: 70px
        transition: background ease .3s, ease top .1s, box-shadow .1s
        background: rgba(37,4,71,0)
        padding: .2rem .4rem
        position: relative
        pointer-events: none
        top: 0px
        left: 0px
        border-radius: 2px
      .tab
        transition: background-color .2s
      &:hover
        #text
          box-shadow: 0px 0px 3px 1px rgba(209,230,236,.4)
          top: -2px !important
          background: $purple--noAlpha
        .tab
          top: -30px !important

  header
    background: url("./img/bg3.png")
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    display: flex 
    min-height: 100vh
    justify-content: center
    flex-direction: column
    .title
      max-width: 90%
      margin: auto
      display: flex
      flex: 2
      justify-content: center
      align-items: center
      h1
        margin: 0
        padding: 0
        color: $color__secondary
        font-size: 3.5rem
        text-align: center
        position: relative;
        z-index: 1;
        padding: 1rem
        #accent
          left: 0
          top: 0
          border-radius: 40px
          background-color: transparent
          background-image: radial-gradient(rgba(37, 4, 71, .9) 50%, rgba(0,0,0,0) 70%)
          box-shadow: none
        i
          font-size: 2.5rem
          font-family: $font__title--sub

    .social
      display: flex
      justify-content: flex-end
      a
        position: relative
        top: 0px
        transition: top .1s, color .1s
        padding: 0
        color: $color__secondary
        &:hover
          color: rgba(209,230,236,1)
          top: -3px
        .fab
          padding: 0 $pad__main $pad__main 0
      
  .content
    position: relative
    z-index: 0
    display: flex
    flex-direction: column
    max-width: 90%
    margin: auto
    padding: $pad__main
    align-items: center

  .about
    padding: $pad__main
    margin: $spacing 0
    position: relative
    width: 60%
    z-index: 1
    h3
      margin-top: 0
    a
      color: $purple--noAlpha
      &:hover
        color: lighten($purple--noAlpha, 20%)
    #accent
      background-color: $yellow

  .projects
    padding: $pad__main
    position: relative
    margin: $pad__main 0
    z-index: 1
    h3
      margin-top: 0
    .project
      position: relative
      display: flex
      margin-bottom: 2rem
      h3
        font-size: 1.2rem
      img
        width: 100%
      .l
        flex: 1
        order: 1
        padding: $pad__main
        padding-left: 0
      .r
        position: relative
        flex: 1
        order: 2
        padding: $pad__main
        padding-right: 0
      ul
        display: flex
        justify-content: column
        padding: 0
        li
          padding-right: $pad__main
      i
        position: relative
        color: $purple--noAlpha
        top: 0px
        transition: top .1s, color .1s
      a:hover
        i
          top: -3px
          color: lighten($purple--noAlpha, 20%)
        
    #accent
      background-color: $blue

  .contact
    padding: $pad__main
    margin: $spacing 0
    position: relative
    width: 60%
    z-index: 1
    h3
      margin-top: 0
    iframe
      width: 100%
      height: 600px
    #accent
      background-color: $pink
  
  .back
    margin-bottom: $spacing
    a
      color: $color__main
      &:hover
        color: $purple--noAlpha

  footer
    position: relative;
    max-width: 90%;
    margin: auto;
    padding: 1rem;
    ul
      margin: 0
      padding: 0
      display: flex
      flex-direction: row
      justify-content: center
      flex-wrap: wrap
      padding-bottom: 3rem
      &#copyright
        justify-content: center
        padding-bottom: 0
        a, .copy
          font-size: .8rem !important
        i
          padding-right: 1rem
      
      li
        text-align: center
        vertical-align: middle
        padding: 0
        color: $color__main
        font-size: 1rem
        width: 100%
        max-width: 20%
        i
          font-size: 2rem
        a
          padding: 0
          position: relative
          top: 0px
          transition: top .1s, color .1s
          &:hover
            color: $purple--noAlpha
            top: -3px