// Fonts
$font__title: 'Bungee', cursive;
$font__title--sub: 'Lobster', cursive
$font__sub: 'Heebo', sans-serif
$font__main: 'Fira Sans', sans-serif;

// Colors
$color__main: #2c2c2c
$color__secondary: #fbfbf6
$color__bg: #250448

// Spacing
$pad__main: 1rem
$spacing: 5rem
